/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    padding: 10px 0;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
  }
  
  nav ul li {
    margin: 0 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  footer {
    text-align: center;
    margin-top: 30px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Dark Mode */
  body.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .dark-mode header {
    background-color: #222;
  }
  
  .dark-mode section {
    background-color: #444;
  }
  
  .dark-mode button {
    background-color: #555;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
    }
  }
  